{% extends '/Admin/layoutAdmin.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Pays</h1>
        <table class="table table-admin table-hover">
            <thead class="table-admin">
            <tr>
                <th scope="col">Pays</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr onclick="document.location='/admin/country/edit/{{ country.id }}';">
                    <td>{{ country.country }} </td>
                    <td class="text-right"><a class="button-admin" href="/admin/country/delete/{{ country.id }}">Supprimer</a></td>
                </tr>
            {% else %}
                <li>Rien à afficher</li>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" onclick="document.location='/admin/country/add';" class="btn button-admin btn-block">
            Ajouter un pays
        </button>
    </div>
{% endblock %}