{% extends '/Admin/layoutAdmin.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Ajouter un nouveau thème</h1>
        {% include 'Admin/Theme/_form.html.twig' %}
    </div>
{% endblock %}
