<div id="presentation" class="container-fluid">
    <div class="row">
        <div class="col-lg-4 text-center">
            <i class="fas fa-users fa-4x"></i>
            <p class="rounded mx-auto d-block">
                Lassé de ces prises de rendez-vous impersonnelles par internet ?
                Wexy Travel met à votre disposition des équipes à l'écoute
                de vos attentes.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-globe-americas fa-4x"></i>
            <p class="rounded mx-auto d-block">
                Grâce à nos agences implantées à l'international et nos
                itinéraires uniques, parcourez et découvrez le monde selon
                vos envies.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="fas fa-hands-helping fa-4x"></i>
            <p class="rounded mx-auto d-block">
                Nos agents apprennent à vous connaître et s'adaptent à vos
                souhaits pour vous fournir le voyage qui vous correspond
                le mieux.
            </p>
        </div>
    </div>
</div>
