    <div id ="selection" class="container-fluid" style="background-color: #E88D0C;">
        <div class="container padd" style="padding-top:5%">
            <div class="row" style="padding-bottom:5%">
                <div class="col text-center">
                    <h3><strong>top sélection</strong></h3>
                </div>
            </div>
            <div class="row" style="padding-top:3%">
                <div class="col-lg-4">
                    <div class="card ovl no-border mb-3 select">
                        <img class="card-img" src="assets/images/geekTravel.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">
                                Joignez l'aventure avec des personnes partageant votre passion pour les mangas et les animes
                                et partez à la découverte du pays du soleil levant lors d'un voyage itinérant plein de surprises!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card ovl no-border mb-3 select">
                        <img class="card-img" src="assets/images/sousmarinTravel.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">
                                Embarquez à bord de notre géant des mers pour une croisière unique dans des
                                eaux encore peu explorées. Soyez aux premières loges pour admirer les merveilles des fonds
                                marins!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card ovl no-border mb-3 select">
                        <img class="card-img" src="assets/images/horrorTravel.jpg" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">
                                Vous croyez votre coeur à l'épreuve de toute frayeur ? Les manoirs les plus hantés ne vous
                                impressionnent pas ? Réjouissez-vous car ce voyage risque bien d'ébranler toutes vos certitudes...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
