    <div id="wexy" class="container-fluid bggrey" style="padding-top:5%; padding-bottom: 5%; background-color: #E88D0C;">
        <div class="container paddtb">
            <div class="row" style="padding-bottom:5%">
                <div class="col">
                    <div class="text-center">
                        <h3><strong>WEXY TRAVEL</strong></h3>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:3%">
                <div class="col-lg-6 sm-12">
                    <img src="/assets/images/people.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-lg-6 sm-12 d-flex align-items-center">
                    <div class="row">
                        <div class="paddlr">
                            <div class="col">
                                <p class="text-justify">Wexy Travel propose un panel complet de voyages “sur mesure”
                                    pour les adeptes des voyages hors normes. Nous recherchons toujours le meilleur
                                    rapport qualité-prix pour vous permettre d’accéder à la réalisation de vos rêves,
                                    du plus petit au plus grand,dans les meilleures conditions de confort et de prix.</p>
                                <p class="text-justify">Notre première démarche consiste à apprendre à vous connaître. Ensuite nous vous
                                    proposons des formules bien adaptées à votre profil. Que ce soit avec les programmes
                                    des différents Tour-Opérateurs ou avec nos propres correspondants dans le monde entier,
                                    notre but est de faire de chaque voyage dont on nous confie la réalisation une aventure unique, un
                                    instant de bonheur total.</p>
                                <a class="btn button-wexy btn-lg btn-block" href="/contact" role="button">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
