 <footer class="container-fluid page-footer text-footer" style="padding-top:5%">
        <div class="row">
            <div class="offset-lg-1 offset-md-1 col-lg-3 col-md-3 col-sm-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Inscription newsletter"
                           aria-label="Inscription newsletter"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button id="news-btn" class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                    class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-center d-none d-lg-block .d-xl-none">
                <a href="/"><img src="/assets/images/logo-navbar.png"></a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 d-none d-lg-block .d-xl-none">
                <ul>
                    <li><a href="/#themes">Themes</a></li>
                    <li><a href="/#destination">Destinations</a></li>
                    <li><a href="#selection">Top selection</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 d-none d-lg-block .d-xl-none">
                <ul>
                    <li><a href="/#deals">Bons plans</a></li>
                    <li><a href="/#agencies">Nos agences</a></li>
                    <li><a href="/contact">Nous écrire</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 d-lg-none .d-xl-block">
                <ul>
                    <li><a href="/#themes">Voyages</a></li>
                    <li><a href="/#destination">Destinations</a></li>
                    <li><a href="/#selection">Top selection</a></li>
                    <li><a href="/#deals">Bons plans</a></li>
                    <li><a href="#">Nos agences</a></li>
                    <li><a href="/contact">Nous écrire</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center" style="padding-top:2%">
            <div class="col">
                <span class="copyright">Tous droits réservés | Wexy Travel 2018</span>
            </div>
        </div>
    </footer>
